@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --scrollbar-thumb: #9ca3af;
  --scrollbar-track: #f3f4f6;

  @apply text-sm;
  /* Light Mode Palette */
  --background: #f3f4f6; /* Soft gray-100 background */
  --foreground: #111827; /* Rich gray-900 text */
  --surface: #ffffff; /* Pure white for cards/panels */
  --border-color: #e5e7eb; /* gray-200 */

  @variant dark {
    /* Dark Mode Palette */
    --background: #0f172a; /* Deep slate-950 for main background */
    --foreground: #f1f5f9; /* Slate-100 for high-contrast text */
    --surface: #1e293b; /* Slate-800 for cards/panels (lighter than background) */
    --border-color: #334155; /* Slate-700 */

    /*scroll bar*/
    --scrollbar-thumb: #475569;
    --scrollbar-track: #0f172a;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border-main: var(--border-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility custom-grid-rows {
  @media (min-width: 768px) {
    grid-template-rows: repeat(8, 20vh);
  }

  @media (min-width: 1280px) {
    grid-template-rows: repeat(8, 7.5vh);
  }
}

@layer base {
  /* For Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid var(--scrollbar-track);
  }

  /* For Firefox (Standard property) */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
