@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  @apply text-sm;
  --background: #f5f5f5;
  --foreground: #171717;

  @variant dark {
    --background: #111111;
    --foreground: #f5f5f5;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility custom-grid-rows {
  @media (min-width: 768px) {
    grid-template-rows: repeat(8, 20vh);
  }

  @media (min-width: 1280px) {
    grid-template-rows: repeat(8, 7.5vh);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
